nav{
	background-color: steelblue;
}
.nav-link
{
	margin-left: 280px;
}
.dropdown-menu
{
	padding: 10px;
	width: 200px;
	background-color: steelblue;

}
.dropdown-menu li a
{
	
	color: white;
	text-decoration: none;
}


.top
{
	color: steelblue;
	text-decoration: none;
	font-size: 25px;

}
.bot
{
	color: steelblue;
	text-decoration: none;
	font-size: 25px;
}

.related a
{
	text-decoration: none;
}
.up
{
	
	margin-top: 20px;
}
.body
{
	font-size: 20px;
}
